.App {
  text-align: center;
}
html {
  min-height: 100vh;
}
body {
  background-image: url(./assets/SOF_8501.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
button {
  margin-top: 20px;
  align-self: flex-start;
}







